$layout-breakpoint-sm: 640px;
$layout-breakpoint-md: 768px;
$layout-breakpoint-lg: 1024px;
$layout-breakpoint-xl: 1280px;
$layout-breakpoint-2xl: 1536px;

.footer {
	padding: 0;
	margin: 0;
	background-color: #414a4e;
	color: #fff;
	&-formblock__form {
		gap: 0.5rem;
		display: flex;
		flex-direction: column;
		color: black;
	}
	&-formblock__text {
		margin-right: 20px;
		margin-bottom: 20px;
		font-size: 20px;
		font-weight: bold;
	}
	&-formblock__input {
		color: black;
		padding-left: 10px;
		height: 30px;
		width: 200px;
		border-radius: 0.25rem;
		font-size: 24px;
		&_validation {
			color: #d93434;
		}
	}
	&-formblock__btn {
		height: 30px;
		width: 180px;
		border-radius: 0.25rem;
		font-size: 20px;
		display: flex;
		justify-content: center;
		text-align: center;
		border: 1px white solid;
		margin-top: 10px;
	}
	&-reviews__text {
		font-size: 14px;
		margin-right: 20px;
		margin-bottom: 10px;
	}
	&-reviews__btn {
		height: 30px;
		width: 180px;
		border-radius: 0.5rem;
		border: 1px white solid;
		font-size: 18px;
		display: flex;
		justify-content: center;
	}
	&-contact__github {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 10px;
		&_text {
			font-size: 14px;
		}
		&_icon {
			margin-right: 5px;
		}
	}
	&-contact__telegram {
		display: flex;
		align-items: center;
		&_icon {
			margin-right: 5px;
		}
		&_text {
			font-size: 14px;
		}
	}
	&-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		padding: 40px 10px 50px 10px;
		&__formblock {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			flex-direction: column;
		}
		&__symbol {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 20px;
		}
	}
	&-bottom {
		display: flex;
		padding: 15px 20px 15px 20px;
		background-color: #363d40;
		color: #fff;
		flex-direction: column;
		justify-content: space-between;
		&__reviews {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: column;
		}
		&__contact {
			display: flex;
			margin-top: 20px;
			margin-left: 20px;
			justify-content: space-between;
		}
	}
}

@media (min-width: $layout-breakpoint-sm) {
	.footer {
		&-formblock {
			&__text {
				font-size: 20px;
			}
		}
		&-top {
			height: auto;
			flex-direction: row;
			&__symbol {
				width: 30%;
				margin-top: 0;
			}
		}
		&-bottom {
			&__reviews {
				flex-direction: row;
			}
		}
	}
}

@media (min-width: $layout-breakpoint-md) {
	.footer {
		&-formblock__text {
			font-size: 20px;
		}
		&-reviews__text {
			font-size: 16px;
			margin-bottom: 0;
		}
		&-contact__github {
			&_text {
				font-size: 14px;
			}
		}
		&-contact__telegram {
			&_text {
				font-size: 14px;
			}
		}
		&-top {
			padding-bottom: 20px;
			padding-right: 10px;
			padding-left: 10px;
			&__formblock {
				width: 70%;
			}
			&__symbol {
				width: 30%;
			}
		}
		&-bottom {
			flex-direction: row;
			&__reviews {
				justify-content: start;
			}
			&__contact {
				margin-top: 0;
				justify-content: start;
			}
		}
	}
}

@media (min-width: $layout-breakpoint-lg) {
	.footer {
		&-formblock__text {
			font-size: 20px;
			margin-bottom: 0;
		}
		&-formblock__btn {
			margin-top: 0;
			margin-left: 10px;
		}
		&-reviews__btn {
			margin-left: 10px;
		}
		&-top {
			&__formblock {
				flex-direction: row;
			}
		}
	}
}

@media (min-width: $layout-breakpoint-xl) {
	.footer {
		&-formblock__text {
			font-size: 20px;
		}
		&-top {
			&__formblock {
				width: 60%;
			}
			&__symbol {
				width: 40%;
			}
		}
	}
}

@media (min-width: $layout-breakpoint-2xl) {
	.footer {
		&-formblock__text {
			font-size: 23px;
		}
		&-contact__github {
			&_text {
				font-size: 16px;
			}
		}
		&-contact__github {
			&_text {
				font-size: 16px;
			}
		}
	}
}
