@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-size: 100%;	
	color: #070606;
	font-family: 'Roboto Mono', monospace;
	/* background: linear-gradient(to bottom left, #0074D9, #FFD700); */
	background: linear-gradient(220deg, #0074D9, white, #FFD700);
  	/* background-size: 100% 100%; */
}

.top {
	margin-left: 3%;
	margin-right: 3%;
}

.block-info {
	display: flex;
	justify-content: start;
	align-items: center;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 30px;
}
.block-info-date {
	margin-right: 20px;
}

.block-info-day {
	color: #3905e3
}

.stat-blocks {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: inherit;
}

.stat-block {
	user-select: none;
	width: 32%;
	background-color: inherit;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: start;
	padding-left: 10px;
	height: 130px;
}

.stat-block:nth-child(3n) {
  border-right: 0;
}

.stat-block:nth-child(14n), 
.stat-block:nth-child(13n),
.stat-block:last-child {
  border-bottom: 0;
}

.stat-block-icon {
	width: 100px;
	margin-right: 30px;
}

.stat-block__stat {
	font-weight: 700;
	font-size: 26px;
	margin: 0;
	color: #414A4E;
}

.stat-block__name {
	font-weight: 400;
	font-size: 22px;
	margin: 0;
	/* color: #71797E; */
}

.block-donate {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 20px;
	margin-bottom: 100px;
	color: #414A4E;
}

.block-donate-btn {
	background: linear-gradient(to bottom right, #5fabed, #f7dd49);
	padding: 0px 50px 0px 50px;
	border-radius: 30px;
	border: 6px solid white;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.block-donate-btn a {
	padding: 0;
	text-decoration: none;
	font-size: 18px;
	color: #000;
}

.block-donate-btn img {
	margin-right: 10px;
}
