@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	padding: 0;
	color: #070606;
	font-family: 'Roboto Mono', monospace;
	background-image: url('./assets/bg.png');
	min-width: 100%;
	/* overflow: hidden; */
}

/* sm	640px
md	768px
lg	1024px
xl	1280px
2xl	1536px */


@media (min-width: 1024px) {
	.war-info-block:nth-child(3n) {
	border-right: 0;
	}
} 

@media(min-width: 1024px) {
	.war-info-block:nth-child(14n), 
	.war-info-block:nth-child(13n),
	.war-info-block:last-child {
	border-bottom: 0;
	}
}

@media(max-width: 1024px) {
	.war-info-block:last-child {
	border-bottom: 0;
	}
}

@media(max-width: 640px) {
	.war-info-block {
		border-right: 0;
	}
}

@media(max-width: 1024px) {
	.war-info-block:nth-child(2n) {
		border-right: 0;
	}
}
